// fuente
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.contenedor {
    max-width: 1280px;
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

// ESTILOS MENU
#content-header {
    background-image: url(../assets/fondo/fondo.svg);
    background-color: #063852;
    padding: 5px 0;
    height: 100vh;
    .display {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(240, 129, 15, 0.5);
    }
    .menu {
        display: flex;
        &__ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 30px;
                color: #fff;
            }
            li>img {
                width: 32px;
                height: 32px;
            }
        }
    }
}

// ESTILOS NOMBRE-MENU
#content-header {
    .nombre-menu {
        font-size: 30px;
        p {
            color: #FFF;
            font-weight: bold;
        }
    }
}

// ESTILOS CONTENIDO
.contenido-seccion-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-seccion-presentacion {
    .imagen-perfil {
        width: 90px;
        height: auto;
        margin: 84px 0 50px 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.contenido-seccion-presentacion {
    .nombre-titulo {
        text-align: center;
        h1 {
            font-size: 32px;
            color: #fff;
        }
        p {
            font-size: 24px;
            color: #f0810f;
        }
    }
}

.contenido-seccion-presentacion {
    .redes-sociales>div {
        width: 24px;
    }
}